*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    right: 0;
    background: #fff;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    z-index: 1000;
}

nav .logo{
    font-size: 2.0rem;
    font-weight: bolder;
    color: var(--black);
}

nav .logo i{
    color: gold;
    padding-right: .5rem;
}

.nav .navbar a{
    font-size: 3.0rem;
    color: var(--black);
    margin: 0 3rem;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
    padding: 0 15px;
}

nav ul li a{
    color: #000;
    text-decoration: none;
    transition: 0.3s;
}

nav ul li a:hover{
    color: #ffcc33;
}

nav .search i{
    font-size: 19px;
    cursor: pointer;
    transition: 0.3s;
}

nav .search i:hover{
    color: #ffcc33;
}




/*--------------Home---------------*/

section{
    width: 100%;
    height: 100vh;
    background-image: url(image/main_bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

section .home_left{
    position: relative;
    bottom: 20px;
    left: 5%;
}

section .home_left h1{
    font-size: 70px;
    position: relative;
    bottom: 25px;
}

section .home_left h1 span{
    color: #fda211;
    margin-left: 15px;
    transition: 0.2s;
}

section .home_left h1 span:hover{
    color: #ffcc33;
}

section .home_left p{
    width: 650px;
    text-align: justify;
    line-height: 23px;
    position: relative;
    top: 25px;
}

section .home_left .home_btn{
    position: relative;
    top: 60px;
    color: #000;
    text-decoration: none;
    padding: 8px 20px;
    background: #fda211;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    transition: 0.3s;
    margin-top: -60px;
}

section .home_left .home_btn:hover{
    border-bottom-left-radius: 8px;
}

section .home_right img{
    width: 750px;
    margin-left: 95px;
}

.anim{
    opacity: 0;
    transform: translateX(-50px);
    animation: moveside 0.5s linear forwards;
}




/*---------------about-----------------*/

.about{
    width: 100%;
    height: 100vh;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about .about_image img{
    width: 650px;
}

.about .about_tag h1{
    font-size: 50px;
    margin-bottom: 30px;
}

.about .about_tag p{
    width: 650px;
    text-align: justify;
    line-height: 23px;
    margin-bottom: 30px;
}

.about .about_tag .about_btn{
    padding: 8px 20px;
    background: #fda211;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #000;
    text-decoration: none;
    transition: 0.3s;
}

.about .about_tag .about_btn:hover{
    border-bottom-left-radius: 8px;
}




/*-------------products-----------------*/

.products{
    width: 100%;
    height: 100vh;
    padding: 65px 0 20px 0;
}

.products h1{
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}

.products .products_main{
    width: 95%;
    margin: 0 auto;
    background: #03f081;
    padding: 50px;
    border-radius: 25px;
}

.products .products_main .products_box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.products .products_main p{
    width: 600px;
    text-align: justify;
    line-height: 22px;
    margin-bottom: 35px;
}

.products .products_main .products_card{
    width: 300px;
    height: 335px;
    border: 2px solid #f81037;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 0 auto;
}

.products .products_main .products_card .products_img img{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    transition: 0.3s;
}

.products .products_main .products_card:hover .products_img img{
    transform: scale(1.1);
}

.products .products_main .products_card .products_tag h2{
    text-align: center;
    margin: 10px 0;
}

.products .products_main .products_card .products_tag p{
    width: auto;
}

.products .products_main .products_card .products_tag .products_btn{
    text-decoration: none;
    color: white;
    padding: 8px 20px;
    position: relative;
    left: 25%;
    background: #f81037;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    transition: 0.3s;
}

.products .products_main .products_card .products_tag .products_btn:hover{
    border-bottom-left-radius: 8px;
}

.products .products_main .products_card .cart{
    float: right;
    width: 40px;
    height: 40px;
    background: #f81037;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    bottom: 10px;
    left: 20px;
}

.products .products_main .products_card .cart i{
    font-size: 18px;
    color: #fff;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}




/*-------------------banner----------------*/

.banner{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -72px;
}

.banner .banner_one{
    width: 720px;
    height: 300px;
    margin-right: 10px;
}

.banner .banner_one img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.banner .banner_one .banner_tag{
    position: relative;
    bottom: 250px;
    padding: 0 20px;
}

.banner .banner_one .banner_tag h1{
    font-size: 40px;
    margin-bottom: 30px;
    color: white;
}

.banner .banner_one .banner_tag .banner_btn{
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 8px 20px;
    background: #03f081;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: black;
}

.banner .banner_one .banner_tag .banner_btn:hover{
    border-bottom-left-radius: 8px;
}

.banner .banner_two{
    width: 720px;
    height: 300px;
    margin-right: 10px;
}

.banner .banner_two img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.banner .banner_two .banner_tag{
    position: relative;
    bottom: 250px;
    padding: 0 20px;
}

.banner .banner_two .banner_tag h1{
    font-size: 40px;
    margin-bottom: 30px;
}

.banner .banner_two .banner_tag .banner_btn{
    color: #000;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    top: 25px;
    font-size: 18px;
    padding: 8px 20px;
    background: #03f081;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: black;
}

.banner .banner_two .banner_tag .banner_btn:hover{
    border-bottom-right-radius: 8px;
}




/*----------------------services------------------*/

.services{
    width: 100%;
    height: auto;
    padding: 85px 0 0 0 ;
    margin-top: -72px;
}

.services .services_box{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0 10px;
}

.services .services_box .services_card{
    margin: 0 auto;
    background: #03f081;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.services .services_box .services_card i{
    font-size: 35px;
    margin: 10px 0;
    color: #f81037;
}

.services .services_box .services_card h2{
    font-size: 20px;
    padding: 8px 0;
}




/*------------------blog------------------*/

.blog{
    width: 100%;
    height: auto;
    padding: 65px 0 20px 0;
}

.blog h1{
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
}

.blog .blog_box{
    width: 95%;
    margin: 0 auto;
}

.blog .blog_box .blog_card{
    width: 1350px;
    height: 350px;
    display: flex;
    align-items: center;
    text-align: justify;
    margin: 0 auto;
}

.blog .blog_box .blog_card .blog_img img{
    width: 450px;
    height: 350px;
    object-fit: cover;
    object-position: center;
}

.blog .blog_box .blog_card .blog_tag{
    margin-left: 50px;
}

.blog .blog_box .blog_card .blog_tag .date{
    margin-bottom: 20px;
}

.blog .blog_box .blog_card .blog_tag .date i{
    margin-right: 10px;
    color: #fda211;
}

.blog .blog_box .blog_card .blog_tag p{
    line-height: 23px;
}

.blog .blog_box .blog_card .blog_tag .like{
    margin-top: 20px;
    font-size: 19px;
    color: #fda211;
}

.blog .blog_box hr{
    width: 90%;
    height: 2px;
    margin: 10px auto;
    background: #fda211;
    border: 0;
}

.blog .blog_box .blog_card_2{
    width: 1350px;
    height: 350px;
    display: flex;
    align-items: center;
    text-align: justify;
    margin: 20px auto;
}

.blog .blog_box .blog_card_2 .blog_tag{
    margin-right: 50px;
}

.blog .blog_box .blog_card_2 .blog_tag p{
    line-height: 23px;
}

.blog .blog_box .blog_card_2 .blog_tag .date i{
    margin-bottom: 20px;
    margin-right: 10px;
    color: #fda211;
}

.blog .blog_box .blog_card_2 .blog_tag .like{
    color: #fda211;
    margin-top: 20px;
    font-size: 19px;
}

.blog .blog_box .blog_card_2 .blog_img img{
    width: 450px;
    height: 350px;
    object-fit: cover;
    object-position: center;
}




/*------------------footer----------------*/

footer{
    width: 100%;
    background: #03f081;
}

footer .footer_main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px 0;
}

footer .footer_main .footer_tag{
    margin: 0 auto;
}

footer .footer_main .footer_tag h1{
    margin: 20px 0;
}

footer .footer_main .footer_tag p{
    margin: 9px 0;
    cursor: pointer;
}

footer .footer_main .footer_tag p i{
    margin-right: 10px;
}

footer .end{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
}

footer .end span{
    color: #f81037;
}

footer .end span i{
    margin: 0 10px;
}





@keyframes moveside{
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}